@import "reset.css";
*{
    box-sizing: border-box;
}

header{
    padding: 10px 0;
    display: flex;
    justify-content: center;

}

header h2 {
    font-size: 20px;
    font-weight: bold;
}

#content{
    height: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    gap: 20px;
}

#category{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

#category select{
    font-size: 18px;
    height: fit-content;
    display: flex;
    align-items: center;
}

.tableField{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}

.on{
    display: table;
    width: 90%;
}

table{
    width: 90%;
}
table thead{
    border: 1px solid black;
}
table thead th:first-child{
    border-right: 1px solid black;
}
table thead th{
    font-size: 18px;
    font-weight: bold;
}
table tbody{
    padding-top: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
table tbody td{
    text-align: center;
}
table tbody td:first-child{
    border-right: 1px solid black;
}
.off{
    display: none;
}